[build]
builder = "dockerfile"
dockerfilePath = "docker/Dockerfile.prod"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
